<div class="footerCont">
  <a [routerLink]="['aboutUs']">About Us</a>
  <div class="icons">
    <p>App created by Mercedes Perea</p>
    <p>
      <a href="https://github.com/mmercedesperea/" target="_blank">
        <img
          alt="github"
          src="../../../assets/img/github.svg"
          width="25"
          height="25"
        />
      </a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/mdemperea/" target="_blank">
        <img
          alt="github"
          src="../../../assets/img/linkedin.svg"
          width="25"
          height="25"
        />
      </a>
    </p>
  </div>
</div>
