<h1>Search Hero by name</h1>
<form>
  <mat-form-field appearance="outline">
    <mat-label>heroName</mat-label>
    <input
      matInput
      type="search"
      placeholder="Search"
      aria-label="Search"
      #searchQuery
      (keyup)="getHeroByName(searchQuery.value)"
    />
   
  </mat-form-field>

  <button type="submit" (click)="getHeroByName(searchQuery.value)">
    Search Hero
  </button>
</form>

<div *ngFor="let hero of heroes">
  <!-- <h1>{{ hero.idHero }}</h1> -->
  <h3>{{ hero.heroName }}</h3>
  <img  class="imgc"  *ngIf="data.action==='edit'"  (click)="selectHero(hero.idHero)" [src]="hero.image" [alt]="hero.heroName" />

  <img *ngIf="data.action==='fight'"  (click)="saveHeroStorage(hero.idHero)" [src]="hero.image" [alt]="hero.heroName" class="img-fluid" />
</div>

<button mat-button (click)="onNoClick()">cancel</button>

<button  *ngIf="data.action==='edit'" mat-button [mat-dialog-close]="HeroSelectId" cdkFocusInitial>Select Hero</button>

