.adminPanel {
  display: flex;
  //   justify-content: space-between;
  flex-direction: column;
  font-family: "B612";
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1em;
}

.countPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1em;
}

.countPanel h5 {
  border: 3px solid #00a23eb6;
  padding: 0.2em;
  color: rgb(223, 221, 221);
  font-size: 0.9rem;
}

.countPanel h5 span {
  color: #cc4224;
}

.buttonStyle {
  font-family: "B612";
  outline: none;
  color: rgb(223, 221, 221);
  text-decoration: none;
}

.buttonStyle:hover {
  color: #00a23d;
  border-bottom: 5px solid #00a23d;
}

.active {
  color: #cc4224;
  border-bottom: 5px solid #cc4224;
}

// rgb(223, 221, 221);
// #00a23eb6;

.AdminContainer h2 {
  // text-align: center;
  padding-bottom: 1vw;
  color: #cc4224;
  font-family: "Bangers", cursive;
  text-decoration: underline;
  -webkit-text-decoration-color: #00a23d; /* Safari */
  text-decoration-color: #00a23d;
}

.AdminContainer {
  margin-left: 1em;
  margin-top: 2em;
}

@media (min-width: 992px) {
  .countPanel h5 {
    padding: 1em;
    font-size: 1.25rem;
  }

  .menu {
    width: 10%;
    flex-direction: column;
    padding-bottom: 0em;
    justify-content: left;
  }

  .contentPanel {
    width: 90%;
  }

  .menu a {
    padding-left: 1em;
  }

  .countPanel {
    margin-bottom: 2em;
  }

  .menu {
    flex-direction: column;
  }

  .adminPanel {
    flex-direction: row;
  }
}
