<div id="containerModal">
  <h1 mat-dialog-title>SELECT YOUR HERO</h1>
  <div mat-dialog-content>
    <div class="imgContainer">
      <div
        class="imgRedonda"
        *ngFor="let hero of heroImg"
        [ngClass]="{ red: activeState == hero.image }"
      >
        <img
          (click)="selectHero(hero.image)"
          [src]="hero.image"
          [alt]="hero.image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
  <div class="buttContainer">
    <button class="cancel" mat-button [mat-dialog-close]="">No Thanks</button>
    <button type="button" mat-raised-button (click)="updateImgProfile()">
      Send avatar
    </button>
  </div>
</div>
