<div class="adminDetail">
  <div id="form">
    <div class="title">
      <h1>Edit Hero</h1>
      <button
        type="button"
        class="UnfollowB"
        mat-raised-button
        (click)="SearchHeroDialog()"
      >
        <span>SEARCH HERO</span>
      </button>
    </div>
    <form [formGroup]="editHeroForm" (ngSubmit)="submit()">
      <mat-form-field appearance="legacy">
        <mat-label>heroName</mat-label>
        <input
          matInput
          type="text"
          formControlName="heroName"
          placeholder="heroName"
          [(ngModel)]="hero.heroName"
        />
        <mat-error *ngIf="!editHeroForm.controls['heroName'].valid">{{
          getErrorMessage("heroName")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>image</mat-label>
        <input
          matInput
          type="text"
          formControlName="image"
          placeholder="image"
          [(ngModel)]="hero.image"
        />
        <mat-error *ngIf="!editHeroForm.controls['image'].valid">{{
          getErrorMessage("image")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>fullName</mat-label>
        <input
          matInput
          type="text"
          formControlName="fullName"
          placeholder="fullName"
          [(ngModel)]="hero.fullName"
        />
        <mat-error *ngIf="!editHeroForm.controls['fullName'].valid">{{
          getErrorMessage("fullName")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>placeOfBirth</mat-label>
        <input
          matInput
          type="text"
          formControlName="placeOfBirth"
          placeholder="placeOfBirth"
          [(ngModel)]="hero.placeOfBirth"
        />
        <mat-error *ngIf="!editHeroForm.controls['placeOfBirth'].valid">{{
          getErrorMessage("placeOfBirth")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>publisher</mat-label>
        <input
          matInput
          type="text"
          formControlName="publisher"
          placeholder="publisher"
          [(ngModel)]="hero.publisher"
        />
        <mat-error *ngIf="!editHeroForm.controls['publisher'].valid">{{
          getErrorMessage("publisher")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>alignment</mat-label>
        <input
          matInput
          type="text"
          formControlName="alignment"
          placeholder="alignment"
          [(ngModel)]="hero.alignment"
        />
        <mat-error *ngIf="!editHeroForm.controls['alignment'].valid">{{
          getErrorMessage("alignment")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>firstAppearance</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstAppearance"
          placeholder="firstAppearance"
          [(ngModel)]="hero.firstAppearance"
        />
        <mat-error *ngIf="!editHeroForm.controls['firstAppearance'].valid">{{
          getErrorMessage("firstAppearance")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>gender</mat-label>
        <input
          matInput
          type="text"
          formControlName="gender"
          placeholder="gender"
          [(ngModel)]="hero.gender"
        />
        <mat-error *ngIf="!editHeroForm.controls['gender'].valid">{{
          getErrorMessage("gender")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>race</mat-label>
        <input
          matInput
          type="text"
          formControlName="race"
          placeholder="race"
          [(ngModel)]="hero.race"
        />
        <mat-error *ngIf="!editHeroForm.controls['race'].valid">{{
          getErrorMessage("race")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>height</mat-label>
        <input
          matInput
          type="text"
          formControlName="height"
          placeholder="height"
          [(ngModel)]="hero.height"
        />
        <mat-error *ngIf="!editHeroForm.controls['height'].valid">{{
          getErrorMessage("height")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>weight</mat-label>
        <input
          matInput
          type="text"
          formControlName="weight"
          placeholder="weight"
          [(ngModel)]="hero.weight"
        />
        <mat-error *ngIf="!editHeroForm.controls['weight'].valid">{{
          getErrorMessage("weight")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label> eyeColor</mat-label>
        <input
          matInput
          type="text"
          formControlName="eyeColor"
          placeholder="eyeColor"
          [(ngModel)]="hero.eyeColor"
        />
        <mat-error *ngIf="!editHeroForm.controls['eyeColor'].valid">{{
          getErrorMessage("eyeColor")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>hairColor</mat-label>
        <input
          matInput
          type="text"
          formControlName="hairColor"
          placeholder="hairColor"
          [(ngModel)]="hero.hairColor"
        />
        <mat-error *ngIf="!editHeroForm.controls['hairColor'].valid">{{
          getErrorMessage("hairColor")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>work</mat-label>
        <input
          matInput
          type="text"
          formControlName="work"
          placeholder="work"
          [(ngModel)]="hero.work"
        />
        <mat-error *ngIf="!editHeroForm.controls['work'].valid">{{
          getErrorMessage("work")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>biography</mat-label>
        <input
          matInput
          type="text"
          formControlName="biography"
          placeholder="biography"
          [(ngModel)]="hero.biography"
        />
        <mat-error *ngIf="!editHeroForm.controls['biography'].valid">{{
          getErrorMessage("biography")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>intelligence</mat-label>
        <input
          matInput
          type="number"
          placeholder="intelligence"
          [(ngModel)]="hero.intelligence"
          formControlName="intelligence"
          min="1"
          max="100"
        />
        <span matSuffix></span>
        <mat-error *ngIf="!editHeroForm.controls['intelligence'].valid">{{
          getErrorMessage("intelligence")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>strength</mat-label>
        <input
          matInput
          type="number"
          placeholder="strength"
          [(ngModel)]="hero.strength"
          formControlName="strength"
          min="1"
          max="100"
        />
        <span matSuffix></span>
        <mat-error *ngIf="!editHeroForm.controls['strength'].valid">{{
          getErrorMessage("strength")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>speed</mat-label>
        <input
          matInput
          type="number"
          placeholder="speed"
          [(ngModel)]="hero.speed"
          formControlName="speed"
          min="1"
          max="100"
        />
        <span matSuffix></span>
        <mat-error *ngIf="!editHeroForm.controls['speed'].valid">{{
          getErrorMessage("speed")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>durability</mat-label>
        <input
          matInput
          type="number"
          placeholder="durability"
          [(ngModel)]="hero.durability"
          formControlName="durability"
          min="1"
          max="100"
        />
        <span matSuffix></span>
        <mat-error *ngIf="!editHeroForm.controls['durability'].valid">{{
          getErrorMessage("durability")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>power</mat-label>
        <input
          matInput
          type="number"
          placeholder="power"
          [(ngModel)]="hero.power"
          formControlName="power"
          min="1"
          max="100"
        />
        <span matSuffix></span>
        <mat-error *ngIf="!editHeroForm.controls['power'].valid">{{
          getErrorMessage("power")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>combat</mat-label>
        <input
          matInput
          type="number"
          placeholder="combat"
          [(ngModel)]="hero.combat"
          formControlName="combat"
          min="1"
          max="100"
        />
        <span matSuffix></span>
        <mat-error *ngIf="!editHeroForm.controls['combat'].valid">{{
          getErrorMessage("combat")
        }}</mat-error>
      </mat-form-field>

      <div *ngIf="!correctData">
        <p class="mensajeError">{{ this.message }}</p>
      </div>
      <br />
      <button type="submit" class="modifyHero" [disabled]="!editHeroForm.valid">
        MODIFY HERO
      </button>
    </form>
  </div>
</div>
