<p>coment-hero-dialog works!</p>
<div id="form">
    <h1>Add comment</h1>
    <form [formGroup]="commentForm" (ngSubmit)="submit(commentForm)">
      <mat-form-field appearance="outline">
        <mat-label>comment</mat-label>
        <input
          matInput
          type="text"
          formControlName="comment"
          placeholder="comment"
         
        />
        <mat-error *ngIf="!commentForm.controls['comment'].valid">{{
          getErrorMessage("comment")
        }}</mat-error>
      </mat-form-field>
<!-- 
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Email"
          [(ngModel)]="user.email"
        />
        <mat-error *ngIf="!commentForm.controls['email'].valid">{{
          getErrorMessage("email")
        }}</mat-error>
      </mat-form-field> -->


      <div *ngIf="!correctdata">
          <p class="mensajeError">{{  this.message }}</p>
        </div>

      <button
        type="submit"
        class="LoginButton i"
        [disabled]="!commentForm.valid"
      >
      Send comment
      </button>
    </form>