<div class="color1">
  <div class="cardHero">
    <h1>PROFILE</h1>
    <div class="UserInfo">
      <div class="imgUserInfo">
        <img [src]="user.photo" [alt]="user.alias" class="" />
        <br />
        <button
          type="button"
          class="followB"
          mat-raised-button
          (click)="avatarDialog()"
        >
          <span>CHANGE AVATAR</span>
        </button>
      </div>
      <div class="infoCard3">
        <p><span> ALIAS:</span> {{ user.alias }}</p>
        <p><span>EMAIL:</span> {{ user.email }}</p>
        <p><span>NAME:</span> {{ user.userName }}</p>
        <p ><span>DATE OF BIRTH: </span>{{ user.dateOfBirth | date }}</p>
        <p><span>SURNAME:</span> {{ user.surname }}</p>
      </div>
      <div class="tableMat">
        <mat-tab-group>
          <mat-tab label="FOLLOWING">
            <div class="tablaContainer">
              <table *ngIf="FollowedUsers" class="table">
                <tbody>
                  <tr
                    *ngFor="
                      let user of FollowedUsers
                        | slice
                          : (page - 1) * pageSize
                          : (page - 1) * pageSize + pageSize;
                      index as i
                    "
                  >
                    <td class="usu imgUser">
                      <div class="userAvatar2 img">
                        <img
                          class="imgUser"
                          *ngIf="user.photo"
                          src="{{ user.photo }}"
                          alt="Photo a book"
                        />
                      </div>
                    </td>
                    <td
                      class="textName"
                      [routerLink]="['/publicProfile', user.idUsu]"
                    >
                      <p>
                        {{
                          user.alias.length > 20
                            ? (user.alias | slice: 0:20) + "..."
                            : user.alias
                        }}
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="FollowedUsers" class="pag">
              <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="FollowedUsers.length"
              >
              </ngb-pagination>
            </div>
          </mat-tab>

          <mat-tab label="FOLLOWERS">
            <div class="tablaContainer">
              <table *ngIf="FollowersUsers" class="table">
                <tbody>
                  <tr
                    *ngFor="
                      let user of FollowersUsers
                        | slice
                          : (page2 - 1) * pageSize
                          : (page2 - 1) * pageSize + pageSize;
                      index as i
                    "
                  >
                    <td class="usu imgUser">
                      <div class="userAvatar2 img">
                        <img
                          class="imgUser"
                          *ngIf="user.photo"
                          src="{{ user.photo }}"
                          alt="Photo a book"
                        />
                      </div>
                    </td>
                    <td
                      class="textName"
                      [routerLink]="['/publicProfile', user.idUsu]"
                    >
                      <p>
                        {{
                          user.alias.length > 20
                            ? (user.alias | slice: 0:20) + "..."
                            : user.alias
                        }}
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="FollowersUsers" class="pag">
              <ngb-pagination
                [(page)]="page2"
                [pageSize]="pageSize"
                [collectionSize]="FollowersUsers.length"
              >
              </ngb-pagination>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <div class="cardHero pad">
    <div id="form">
      <h1>Change information</h1>
      <form [formGroup]="profileForm" (ngSubmit)="submit()">
        <mat-form-field appearance="legacy">
          <mat-label>Alias</mat-label>
          <input
            matInput
            type="text"
            formControlName="alias"
            placeholder="Alias"
            [(ngModel)]="user.alias"
          />
          <mat-error *ngIf="!profileForm.controls['alias'].valid">{{
            getErrorMessage("alias")
          }}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Email"
            [(ngModel)]="user.email"
          />
          <mat-error *ngIf="!profileForm.controls['email'].valid">{{
            getErrorMessage("email")
          }}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="legacy">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="userName"
            placeholder="userName"
            [(ngModel)]="user.userName"
          />
          <mat-error *ngIf="!profileForm.controls['userName'].valid">{{
            getErrorMessage("userName")
          }}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="legacy">
          <mat-label>Surname</mat-label>
          <input
            matInput
            type="text"
            formControlName="surname"
            placeholder="Surname"
            [(ngModel)]="user.surname"
          />
          <mat-error *ngIf="!profileForm.controls['surname'].valid">{{
            getErrorMessage("surname")
          }}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker1"
            placeholder="Date Of Birth"
            [(ngModel)]="user.dateOfBirth"
            formControlName="dateOfBirth"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br />
        <button type="submit" class="followB">
          <span>UPDATE PROFILE</span>
        </button>
      </form>
    </div>

    <button type="button" class="followB" (click)="changePassDialog()">
      <span>CHANGE PASSWORD</span>
    </button>

    <button type="button" class="followB2" (click)="deleteUserDialog()">
      <span>DELETE ACCOUNT</span>
    </button>
  </div>
</div>
