<body>
    <div id="form">
      <h1>log in</h1>
      <form [formGroup]="LoginForm" (ngSubmit)="signIn()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Email" [(ngModel)]="user.email" />
          <mat-error *ngIf="!LoginForm.controls['email'].valid">{{
              getErrorMessage("email")
          }}</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Contraseña"
            [(ngModel)]="user.password" />
          <mat-error *ngIf="!LoginForm.controls['password'].valid">
            {{getErrorMessage("password")}}</mat-error>
        </mat-form-field>
  
        <div *ngIf="!datosCorrectos">
          <p class="mensajeError">{{  this.message }}</p>
        </div>
  
        <button type="submit" class="LoginButton i" [disabled]="!LoginForm.valid">
          Logeate
        </button>
      </form>
  
      <p>o</p>
  
      <p>
        It's not registered?
        <b><a class="registrate" [routerLink]="['/register']">
          Sign up</a></b>
      </p>
    </div>
  </body>
