<div class="aboutContainer">
  <h1>FIGHT! MY HERO</h1>
  <div>
    <h5>
      This is a web application made as a final project of the Higher technician
      in web App Development of the IES Campanillas in DUAL system.
    </h5>
    <p>This application was made using the following technologies:</p>
    <ul class="dots">
      <li>ANGULAR 8</li>
      <li>NODE JS</li>
      <li>EXPRESS</li>
      <li>SQL DATABASE</li>
    </ul>
  </div>
  <canvas id="canvas" width="960" height="540"></canvas>
  <div class="buttonsPlay">
    <img
    id="playvideo" (click)="playvideo()"
      src="../../../assets/img/play.svg"
      alt=""
    />
    <img
    id="stopVideo"
      src="../../../assets/img/pause.svg"
      alt=""
    />

    
  </div>
</div>
