/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.userAvatar{
    height: 4em;
    width: 4em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    overflow: hidden;
    border: 2.5px solid #a30023;
    
}

// @import "node_modules/bootstrap/scss/bootstrap";

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
