<p>heroes-detail works!</p>
<h1>{{ hero.idHero}}</h1>
<h3>{{ hero.heroName}}</h3>
<img [src]="hero.image" [alt]="hero.heroName" class="img-fluid" />
<p>{{ hero.intelligence}}</p>
<p>{{ hero.strength}}</p>
<p>{{ hero.speed}}</p>
<p>{{ hero.durability}}</p>
<p>{{ hero.power}}</p>
<p>{{ hero.combat}}</p>
<p>{{ hero.fullName}}</p>
<p>{{ hero.placeOfBirth}}</p>
<p>{{ hero.publisher}}</p>
<p>{{ hero.firstApperance}}</p>
<p>{{ hero.gender}}</p>
<p>{{ hero.race}}</p>
<p>{{ hero.height}}</p>
<p>{{ hero.weight}}</p>
<p>{{ hero.eyeColor}}</p>
<p>{{ hero.hairColor}}</p>
<p>{{ hero.work}}</p>
<p>{{ hero.biography}}</p>
<p>{{ hero.createDate}}</p>

<div *ngIf="identity">
    <button *ngIf="!followtHero " type="button" mat-raised-button (click)="followHero()">Follow</button>
    <button *ngIf="followtHero " type="button" mat-raised-button (click)="unfollowHero()">Unfollow</button>
    <button *ngIf=" followtHero && !favoriteHero" type="button" mat-raised-button (click)="favorite()">favorite</button>
    <button *ngIf=" followtHero &&favoriteHero" type="button" mat-raised-button
        (click)="unfavorite()">unfavorite</button>
</div>


<!-- <ngb-rating class="star" [(rate)]="followtHero.puntuacion" (hover)="hovered=$event" (leave)="hovered=0"
                            [readonly]="readonly" (click)="puntuarClub(hovered, club.codClub)" max="10">
                        </ngb-rating> -->
<div *ngIf="identity">
    <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&#10029;</span>&#10029;
        </span>
    </ng-template>

    <ngb-rating [(rate)]="score" [starTemplate]="t" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"
        [max]="10" (click)="voteHero(hovered)"></ngb-rating>

    <button *ngIf="!comment " type="button" mat-raised-button (click)="commentHeroDialog()">Comment</button>

    <h1>{{ comment}}</h1>
    <button *ngIf="comment " type="button" mat-raised-button (click)="commentHeroDialog()">Edit comment</button>
</div>