<div id="form">
  <h1>Join us</h1>
  <form [formGroup]="registerForm" (ngSubmit)="signUp()">
    <div class="fildP">
      <div class="logo">
        <img class="icon2" src="../../../assets/img/userP.svg" alt="" />
      </div>
      <mat-form-field appearance="legacy">
        <mat-label>Alias</mat-label>
        <input
          matInput
          type="text"
          formControlName="alias"
          placeholder="Alias"
          [(ngModel)]="user.alias"
        />
        <mat-error *ngIf="!registerForm.controls['alias'].valid">{{
          getErrorMessage("alias")
        }}</mat-error>
      </mat-form-field>
    </div>
    <br />
    <div class="fildP">
      <div class="logo">
        <img class="icon" src="../../../assets/img/email.svg" alt="" />
      </div>
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Email"
          [(ngModel)]="user.email"
        />
        <mat-error *ngIf="!registerForm.controls['email'].valid">{{
          getErrorMessage("email")
        }}</mat-error>
      </mat-form-field>
    </div>
    <br />
    <div class="fildP">
      <div class="logo">
        <img class="icon2" src="../../../assets/img/lock.svg" alt="" />
      </div>
      <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
          [(ngModel)]="user.password"
        />
        <mat-error *ngIf="!registerForm.controls['password'].valid">
          {{ getErrorMessage("password") }}</mat-error
        >
      </mat-form-field>
    </div>
    <br />
    <div class="fildP">
      <div class="logo">
        <img class="icon2" src="../../../assets/img/lock.svg" alt="" />
      </div>
      <mat-form-field appearance="legacy">
        <mat-label>Confirm Password </mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPass"
          placeholder="Confirm Password          "
        />
        <mat-error
          *ngIf="
            registerForm.get('confirmPass').invalid &&
            registerForm.get('confirmPass').touched &&
            registerForm.get('password').touched
          "
        >
          {{ getErrorMessage("confirmPass") }}</mat-error
        >
      </mat-form-field>
    </div>
    <div id="ErroInfo" class="d-none">
      <p class="errorM">{{ this.message }}</p>
    </div>
    <br />
    <button type="submit" class="UnfollowB">
      <span>SIGN UP</span>
    </button>
  </form>
  <p class="NotRegister">
    Are you already registered?
    <b><a class="registrate" [routerLink]="['/login']">Log in</a></b>
  </p>
</div>
