<h3 *ngIf="myTeamInfo && showName" class="teamName">
  TEAM NAME: <span>{{ myTeamInfo.teamName }}</span>
</h3>
<div id="TeamContainer">
  <div class="card3 tWiner" *ngFor="let hero of TeamHeroes; index as i">
    <img
      matTooltip="Delete member to your team"
      *ngIf="hero && type"
      class="iconBuuton"
      (click)="deleteMember(i + 1)"
      src="../../../assets/img/x.svg"
      alt=""
    />

    <img
      *ngIf="hero"
      class="img"
      [src]="hero.image"
      [routerLink]="['/heroesDetail', hero.idHero]"
      [alt]="hero.heroName"
    />

    <img *ngIf="!hero" class="img" src="../../../assets/img/nomember.jpg" />
    <div class="infoHero">
      <h4 *ngIf="hero">{{ hero.heroName }}</h4>
    </div>
    <div class="semiCircle"></div>
  </div>
</div>
