<div id="form">
    <h1>Create Team</h1>
    <form [formGroup]="teamForm" (ngSubmit)="submit(teamForm)">
      <mat-form-field appearance="outline">
        <mat-label>Name of your team</mat-label>
        <input
          matInput
          type="text"
          formControlName="teamName"
          placeholder="teamName"
        />
        <mat-error *ngIf="!teamForm.controls['teamName'].valid">{{
          getErrorMessage("teamName")
        }}</mat-error>
      </mat-form-field>

      <div *ngIf="!correctdata">
          <p class="mensajeError">{{  this.message }}</p>
        </div>

      <button
        type="submit"
        class="LoginButton i"
        [disabled]="!teamForm.valid"
      >
      Send teamName
      </button>
    </form>