<div id="containerModal">
  <h1>Search Team by name</h1>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Team name</mat-label>
      <input
        matInput
        type="search"
        placeholder="Search"
        aria-label="Search"
        #searchQuery
        (keyup)="getTeamByName(searchQuery.value)"
      />
    </mat-form-field>
  </form>
  <div mat-dialog-content>
    <div
      *ngFor="let team of teams"
      [ngClass]="{ red: activeState == team.idUsu }"
    >
      <h5 (click)="selectTeam(team.idUsu)">
        {{ team.teamName }} <span>By: {{ team.alias }}</span>
      </h5>
    </div>
  </div>
  <div class="buttContainer">
    <button class="cancel" mat-button [mat-dialog-close]="">No Thanks</button>
    <button type="button" mat-raised-button (click)="saveTeamStorage()">
      Select Team
    </button>
  </div>
</div>
