<h1>MY TEAM</h1>

<h3 *ngIf="myTeamInfo">{{myTeamInfo.teamName}}</h3>
<h3>{{totalPoint}}</h3>
<!-- {{TeamHeroes.length}} -->
<div *ngFor="let hero of TeamHeroes, index as i">
  <h4>MI HEROE {{i+1}}</h4>
  <h3 *ngIf="hero" >{{ hero.heroName }}</h3>
  <br />
  <a *ngIf=" hero" [routerLink]="['/heroesDetail', hero.idHero]">{{ hero.idHero }}</a>
  <br />
  <img  *ngIf="hero" [src]="hero.image" [alt]="hero.heroName" class="img-fluid" />
  <button *ngIf="hero" type="button" mat-raised-button (click)="deleteMember(i+1)">Delete Member</button>

</div>


<h1>My favorites</h1>

<div *ngFor="let hero of heroesFav">
  <h3>{{ hero.heroName }}</h3>
  <br />
  <a [routerLink]="['/heroesDetail', hero.idHero]">{{ hero.idHero }}</a>
  <br />
  <img [src]="hero.image" [alt]="hero.heroName" class="img-fluid" />
  <button *ngIf="!maxMembers && myTeamInfo" type="button" mat-raised-button (click)="addMember(hero.idHero)">AddMember</button>

</div>


<h1>Following</h1>
<div *ngFor="let hero of heroesFol">
  <h3>{{ hero.heroName }}</h3>
  <br />
  <a [routerLink]="['/heroesDetail', hero.idHero]">{{ hero.idHero }}</a>
  <br />
  <img [src]="hero.image" [alt]="hero.heroName" class="img-fluid" />
</div>

<button  *ngIf="myTeamInfo" type="button" mat-raised-button (click)="createTeam('modify')">Modify Team Name</button>

<button  *ngIf="!myTeamInfo" type="button" mat-raised-button (click)="createTeam('new')">Create Team</button>

<button  *ngIf="myTeamInfo" type="button" mat-raised-button (click)="createTeam('delete')">Delete Team</button>

