<div class="color1">
  <div class="myTeam">
    <h3>MY TEAM</h3>
    <img
      *ngIf="myTeamInfo"
      class="iconBuuton"
      (click)="createTeam('delete')"
      src="../../../assets/img/trash.svg"
      alt=""
    />

    <img
      *ngIf="myTeamInfo"
      class="iconBuuton"
      (click)="createTeam('modify')"
      src="../../../assets/img/job.svg"
      alt=""
    />
  </div>
  <h5>
    Create your own team, you can add members that you have in
    <span>favorites</span> and remove them from the team whenever you want, you
    can have a maximum of 5 members in your team
  </h5>
  <br />
  <app-team
    [idUsu]="idUser"
    [newM]="newM"
    [type]="type"
    [showName]="showName"
  ></app-team>

  <button
    *ngIf="!myTeamInfo"
    type="button"
    class="UnfollowB"
    mat-raised-button
    (click)="createTeam('new')"
  >
    <span>CREATE TEAM</span>
  </button>
</div>
<div class="color2">
  <h3 class="title">My favorites</h3>
  <div class="containerSearch">
    <div class="card2" *ngFor="let hero of heroesFav">
      <img
        *ngIf="hero.image"
        [src]="hero.image"
        [routerLink]="['/heroesDetail', hero.idHero]"
        [alt]="hero.heroName"
        onError="this.src='../../../assets/img/nogender_2.jpg'"
        class="img-fluid img2"
      />
      <div class="overImg rela">
        <h4>{{ hero.heroName }}</h4>
        <img
          matTooltip="Add member to your team"
          *ngIf="GlobalV.countTeamMembers < 5 && myTeamInfo"
          class="iconBuuton2"
          (click)="addMember(hero.idHero)"
          src="../../../assets/img/x.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="color1">
  <h3 class="title">FOLLOWING</h3>
  <div class="containerSearch">
    <div class="card2" *ngFor="let hero of heroesFol">
      <img
        *ngIf="hero.image"
        [src]="hero.image"
        [routerLink]="['/heroesDetail', hero.idHero]"
        [alt]="hero.heroName"
        onError="this.src='../../../assets/img/nogender_2.jpg'"
        class="img-fluid img2"
      />
      <div class="overImg">
        <h4>{{ hero.heroName }}</h4>
      </div>
    </div>
  </div>
</div>
