<h1>MY TEAM</h1>

<h3>{{myTeamInfo.teamName}}</h3>
<h3>{{totalPoint}}</h3>
<div *ngFor="let hero of myTeam">
  <h3>{{ hero.heroName }}</h3>
  <br />
  <a [routerLink]="['/heroesDetail', hero.idHero]">{{ hero.idHero }}</a>
  <br />
  <img [src]="hero.image" [alt]="hero.heroName" class="img-fluid" />
</div>


<h1>My favorites</h1>

<div *ngFor="let hero of heroesFav">
  <h3>{{ hero.heroName }}</h3>
  <br />
  <a [routerLink]="['/heroesDetail', hero.idHero]">{{ hero.idHero }}</a>
  <br />
  <img [src]="hero.image" [alt]="hero.heroName" class="img-fluid" />
</div>


<h1>Following</h1>
<div *ngFor="let hero of heroesFol">
  <h3>{{ hero.heroName }}</h3>
  <br />
  <a [routerLink]="['/heroesDetail', hero.idHero]">{{ hero.idHero }}</a>
  <br />
  <img [src]="hero.image" [alt]="hero.heroName" class="img-fluid" />
</div>


<button  type="button" mat-raised-button (click)="createTeam()">Create Team</button>


