<div class="color1">
  <div class="searchFor">
    SEARCHING FOR: <span>{{ term }}</span>
  </div>
  <div class="containerSearch" *ngIf="hero != null && data != 'User'">
    <div class="card2" *ngFor="let hero of hero">
      <img
        *ngIf="hero.image"
        [src]="hero.image"
        [routerLink]="['/heroesDetail', hero.idHero]"
        [alt]="hero.heroName"
        onError="this.src='../../../assets/img/nogender_2.jpg'"
        class="img-fluid img2"
      />
      <div class="overImg">
        <h4>{{ hero.heroName }}</h4>
      </div>
    </div>
  </div>
  <div *ngIf="hero == null && data != 'User'">
    <h1 class="NotFound">CHARACTER WITH GIVEN NAME NOT FOUND</h1>
  </div>
  <div class="containerSearch" *ngIf="user && data === 'User'">
    <div class="card2" *ngFor="let usu of user">
      <img
        *ngIf="usu.photo"
        [src]="usu.photo"
        [routerLink]="['/publicProfile', usu.idUsu]"
        [alt]="usu.alias"
        onError="this.src='../../../assets/img/nogender_2.jpg'"
        class="img-fluid img2"
      />
      <div class="overImg">
        <h4>{{ usu.alias }}</h4>
      </div>
    </div>
  </div>
  <div *ngIf="!user && data === 'User'">
    <h1 class="NotFound">USER WITH GIVEN ALIAS NOT FOUND</h1>
  </div>
</div>
